:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --text-color: #444444;
  --bg-color: #fafafa;
  --accent-color: #c1fbec;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #c1fbec;
    --bg-color: #444444;
    --accent-color: #344440;
  }
}
[data-theme="dark"] {
  --text-color: #c1fbec;
  --bg-color: #444444;
  --accent-color: #344440;
}
[data-theme="light"] {
  --text-color: #444444;
  --bg-color: #fafafa;
  --accent-color: #c1fbec;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo,
.sun,
.moon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--text-color);
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.logo:hover,
.sun:hover,
.moon:hover {
  opacity: 1;
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite;
}

.theme-toggle {
  border: 0;
  outline: none;
  background: none;
  width: 1.5rem;
  height: 1.5rem;
}