@layer reset, foundation, layout, components, utils;

@layer reset {
  /* Minimal CSS Reset */
  html {
    box-sizing: border-box;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  html,
  body {
    height: 100%;
    min-height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@layer foundation {
  :root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    color-scheme: dark light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 98%);
    --green: hsl(168, 80%, 82%);
    --black: hsl(0, 0%, 27%);
    --red: hsl(0, 100%, 50%);
    --yellow: hsl(48, 100%, 67%);
    --blue: hsl(204, 100%, 50%);
    --error-color: var(--red);


    --dialog-backdrop: rgba(44, 44, 44, 0.4);
    --shadow: 0 0 24px 0 rgba(44, 44, 44, 0.4);
    --shadow-sm: 0 0 4px 0 hsl(168, 80%, 60%);
    --border-radius: 1rem;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-m: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2.5rem;
    --font-size-xxl: 3.5rem;

    --main-width: clamp(20em, 65ch, 100%);
  }

  [data-theme="dark"] {
    --text-color: var(--green);
    --bg-color: var(--black);
    --accent-color: var(--off-white);

    --text-color-hover: hsl(168, 80%, 60%);
    --accent-color-hover: hsl(0, 0%, 88%);
    --bg-color-hover: hsl(0, 0%, 38%);
  }
  [data-theme="light"] {
    --text-color: var(--black);
    --bg-color: var(--off-white);
    --accent-color: var(--green);

    --accent-color-hover: hsl(168, 80%, 60%);
    --bg-color-hover: hsl(0, 0%, 88%);
    --text-color-hover: hsl(0, 0%, 38%);
  }
}

@layer layout {
  body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 1rem;

    background-color: var(--bg-color);
    color: var(--text-color);
  }

  main {
    display: grid;
    gap: 2rem;
    width: var(--main-width);
  }

  .list {
    display: grid;
    gap: 1rem;
  }
}

@layer components {
  h1 {
    font-size: var(--font-size-xl);
    font-weight: bold;
    line-height: 1.1;

    @media (min-width: 768px) {
      font-size: var(--font-size-xxl);
    }

    [data-theme="dark"] & {
      color: var(--accent-color);
    }
  }

  input,
  select {
    appearance: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    border: 3px solid var(--accent-color);
    background: var(--white);
    line-height: 1.2;
  }

  select {
    position: relative;
  }
  select::after {
    content: "▼";
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 3px solid;
    font-weight: bold;
    transition: all 0.3s ease-in;

    &.primary {
      [data-theme="dark"] & {
        background-color: var(--text-color);
        color: var(--bg-color);
        border-color: var(--accent-color);
        &:hover {
          background-color: var(--text-color-hover);
        }
      }
      [data-theme="light"] & {
        background-color: var(--accent-color);
        color: var(--text-color);
        border-color: var(--accent-color);
        &:hover {
          background-color: var(--accent-color-hover);
        }
      }
    }

    &.secondary {
      background-color: var(--bg-color);
      color: var(--text-color);
      border-color: var(--bg-color);

      &:hover {
        border-color: currentColor;
      }
    }

    &.ghost {
      background-color: transparent;
      color: var(--text-color);
      border-color: var(--text-color);
    }

    &.small {
      font-size: var(--font-size-xs);
      padding: 0.25rem 0.5rem;
      border-width: 2px;
    }
  }
}

@layer utils {
  .u-red {
    color: var(--red);
  }
}
