/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --white: #fefefe;
  --text-color: #444444;
  --bg-color: #fafafa;
  --accent-color: #c1fbec;
  --error-color: #ff0033; */

  --white: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 27%);
  --bg-color: hsl(0, 0%, 98%);
  --accent-color: hsl(168, 80%, 82%);
  --error-color: hsl(0, 100%, 50%);

  --bg-color-hover: hsl(0, 0%, 88%);
  --text-color-hover: hsl(0, 0%, 38%);
  --accent-color-hover: hsl(168, 80%, 60%);

  --dialog-backdrop: rgba(44, 44, 44, 0.4);
  --shadow: 0 0 24px 0px rgba(44, 44, 44, 0.4);
  --border-radius: 1rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-m: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 3.5rem;

  --main-width: clamp(20em, 65ch, 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #c1fbec;
    --bg-color: #444444;
    --accent-color: #344440;
  }
}
[data-theme="dark"] {
  --text-color: #c1fbec;
  --bg-color: #444444;
  --accent-color: #344440;
}
[data-theme="light"] {
  --text-color: #444444;
  --bg-color: #fafafa;
  --accent-color: #c1fbec;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;

  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: grid;
  gap: 2rem;
  width: var(--main-width)
}

/* Primitives */

h1 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 1.1;

  @media (min-width: 768px) {
    font-size: var(--font-size-xxl);
  }
}

input, select {
  appearance: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 3px solid var(--accent-color);
  background: var(--white);
  line-height: 1.2;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 3px solid;
  font-weight: bold;
  transition: all 0.3s ease-in;
  
  /* &:hover{
    box-shadow: var(--shadow);
  } */

  &.primary {
    background-color: var(--text-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
    &:hover{
      background-color: var(--text-color-hover);
    }
  }

  &.secondary {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-color: var(--accent-color);
  }

  &.ghost {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
  }

  &.small {
    font-size: var(--font-size-xs);
    padding: 0.25rem 0.5rem;
    border-width: 2px;
  }

}
